@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.botaoCarrinho button {
    background-color: #9333EA;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 50%;
}
.conteinerProdutos {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #111827;
    overflow-y: auto;
}
.listaDeProdutos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 25px;
}

.produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-color: #1E1E1E;
    border: solid #9333EA 2px;
    border-radius: 10px;
    color: white;
}

.produto:hover {
    border: solid #9333EA 3px;
}

.produto img {
    width: 50%;
    border-radius: 10px;
}

.nomeProduto {
    color: #F9FAFB;
    font-size: 1rem;
    font-weight: 600;
}

.valorProduto {
    color: #9333EA;
    font-size: 1.5rem;
    font-weight: 700;
}

.botaoAddCarrinho {
    background-color: #9333EA;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

.botaoAddCarrinho:hover {
    background-color: #7E22CE;
}